{% if request.path != '/about' %}
<div id="feedback" style="display:none" onclick="toggleFeedback()">
  <div id="feedback-box">
    <div id="feedback-title">
      <button type="button" class="textbn" onclick="toggleFeedback()">Close</button>
    </div>
    <div id="feedback-container">
      <input name="subject" type="text" id="feedback-subject" placeholder="Subject">

      <textarea name="body" id="feedback-body" rows="7" placeholder="Body"></textarea>

      <input type="submit" value="Submit Feedback" onclick="submitFeedback()">
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41516705-6']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
