<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Library CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr.min.css') }}">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">

<!-- Favicon -->
<!-- <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" /> -->

<!-- Library JS -->
<script src="{{ url_for('static', filename='jquery-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='toastr.min.js') }}"></script>

<script
  src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
  integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB"
  crossorigin="anonymous"
></script>
<script>
  Sentry.init({ dsn: 'https://0d610ab75a934c93922251b180896c2c@o376768.ingest.sentry.io/5197934' });
</script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='common.js') }}"></script>
