/* Proxima Nova */
@font-face {
	src: url("//feverbase.org/assets/fonts/Proxima Nova/proximanova-bold-webfont.ttf");
	font-family: "Proxima Nova";
	font-weight: 700;
}

@font-face {
	src: url("//feverbase.org/assets/fonts/Proxima Nova/proximanova-semibold-webfont.ttf");
	font-family: "Proxima Nova";
	font-weight: 500;
}

@font-face {
	src: url("//feverbase.org/assets/fonts/Proxima Nova/proximanova-light-webfont.ttf");
	font-family: "Proxima Nova";
	font-weight: 300;
}

@font-face {
	src: url("//feverbase.org/assets/fonts/Proxima Nova/proximanova-regular-webfont.ttf");
	font-family: "Proxima Nova";
	font-weight: 400;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	margin: 0;
	padding: 0;
	height: 100%
}

body {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	font-style: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Proxima Nova", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #333333;
	padding: 20px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	max-width: 1024px;
	margin: 0 auto
}

@media (min-width: 992px) {
	body {
		padding: 35px 50px
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	line-height: 1.25;
	color: #313131
}

h1 {
	font-size: 2rem
}

h2 {
	margin-top: 1rem;
	font-size: 1.5rem
}

h3 {
	margin-top: 1.5rem;
	font-size: 1.25rem
}

h4,
h5,
h6 {
	margin-top: 1.1rem;
	font-size: 1.1rem
}

img {
	max-width: 100%
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #b1b1b1
}

a:hover {
	color: #369;
	border-color: #369
}

blockquote {
	border-left: 3px solid #ddd;
	margin: 10px 0;
	padding: 10px 10px;
	background: #eee;
}

#logo {
	height: 100px;
	margin-bottom: -20px;
}

.center {
	text-align: center;
	margin: 0 auto
}

hr {
	border: 0;
	border-bottom: 1px solid #999;
	margin: 30px 0
}

p {
	font-size: 14px;
	line-height: 1.65em;
	word-wrap: break-word
}

table.contributors {
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
	width: 100%;
}

img.prof {
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 50%;
}

td > a {
	text-decoration: none;
}

td {
	vertical-align: top;
}

li {
	line-height: 1.65em;
	word-wrap: break-word
}

#maindiv {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#qfield {
  border: 5px solid white;
  border: solid 1px #999;
  width: 100%;
  border-radius: 20px;
  height: 40px;
  font-size: 22px;
  color: "#333";

  padding-left: 35px;
  margin-bottom: 10px;

  background-image:url('/static/search.png');
	background-repeat:no-repeat;
	background-position:left center;
	outline:0;
	background-size: 25px;
	background-position-x: 5px;
}

#sbox {
	margin-top: 10px;
  text-align: center;
}

#userinfo {
	position: absolute;
	top: 10px;
	right: 150px;
	color: white;
	font-size: 16px;
}
.input-no-border {
	border: none;
	padding: 4px;
	width: 100px;
}
.btn-fancy {
	background-color: #FFF;
	border: none;
	padding: 4px;
	cursor: pointer;
}

#userinfo a {
	border: 1px solid white;
	padding: 5px;
}
#titdiv a:link{ text-decoration: none; color: #FFF;}
#titdiv a:visited{ text-decoration: none; color: #FFF;}
#titdiv a:hover{ text-decoration: none; color: #FFF;}
#titdiv a:active{ text-decoration: none; color: #FFF;}

.save-icon {
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-top: 5px;
}

#flashesdiv {
	width: 1000px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
}
ul.flashes {
    list-style: none;
    padding: 0;
}
ul.flashes li {
    background: #EE9;
    border: 1px solid #993;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px;
}
.revarea {
	width: 100%;
	height:200px;
	margin-top: 10px;
	padding: 5px;
}
.revbut {
	margin-top:5px;
	width:100px;
	height:40px;
}
.areview {
	padding: 5px;
	margin: 5px;
	font-size: 14px;
}
.revuser {
	font-weight: bold;
	color: #080;
	margin-right: 10px;
	font-size: 16px;
}
.revtime {
	font-style: italic;
	color: #888;
}
.revtext {
	white-space: pre;
}

#pagebar {
	width: 970px;
	max-width: calc(100% - 32px);
	padding: 10px 15px 0px 15px;
	margin-left: auto;
	margin-right: auto;

	border-top: solid 1px #D6D3C5;
	border-left: solid 1px #D6D3C5;
	border-right: solid 1px #D6D3C5;

	background-color: #EEE;
}
.pagelink {
	display: inline-block;
	margin-right: 3px;
	font-size: 16px;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-top: 1px solid #AAA;

	padding: 10px 5px 10px 5px;
	background-color: #CCE;
}
#pagebar a:link{ text-decoration: none; color: #338;}
#pagebar a:visited{ text-decoration: none; color: #338;}
#pagebar a:hover{ text-decoration: none; color: #338;}
#pagebar a:active{ text-decoration: none; color: #338;}

.centerdiv {
	width: 970px;
	max-width: 100%;
	padding: 10px 15px 0px 15px;
	margin-left: auto;
	margin-right: auto;
	border-left: solid 1px #D6D3C5;
	border-right: solid 1px #D6D3C5;
}
.timechoice {
	display: inline-block;
	background-color: #EEE;
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
}
.timechoice-selected {
	background-color: #CCE;
}
.vchoice {
	display: inline-block;
	background-color: #EEE;
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
}
.vchoice-selected {
	background-color: #CEC;
}
.tab-selected {
	background-color: #FFF;
}
.fdivider {
	display: inline-block;
	background-color: #FFF;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.twdiv {
	margin-top:2px;
}
.twimg {
	width: 36px;
	height: 36px;
	border: 2px solid #fff;
}
.twcont {
	background-color: #e8f6ff;
	border: 1px solid #e1e8ed;
	padding: 4px;
	font-size: 14px;
	display: none;
}
#loadmore {
	text-align: center;
}
#loadmorebtn {
	height:50px;
	width:200px;
	margin-top:20px;
	background-color: #fff;
}
.tweetcount {
	height: 26px;
	border: 2px solid #fff;
	background-color: #eee;
	display: inline-block;
	vertical-align: top;
	padding: 10px 4px 0px 4px;
	font-size: 14px;
}
/* comments-specific */
.cheader {
	background-color: #eee;
	padding: 5px;
	font-size: 12px;
}
.cuser {
	display: inline-block;
	color: #0000ad;
	margin-left: 5px;
}
.ctime {
	color: #2a9e3f;
	display: inline-block;
	margin-left: 10px;
}
.cver {
	color: #9e2a3f;
	display: inline-block;
	margin-left: 10px;
}
.cconf {
	color: #c316ea;
	display: inline-block;
	margin-left: 10px;
}
.ctext {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 0px 5px 0px 5px;
	font-size: 14px;
}
.ppbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.ctags {
	margin: -2px 0px 10px 0px;
	color: #555;
}
.ctag {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	margin: 0px 5px 0px 0px;
	background-color: #eee;
	cursor: pointer;
	font-size: 12px;
	border-radius: 0px 0px 3px 0px;
}
.ctag-count {
	display: inline-block;
	padding: 2px;
	background-color: #83ff00;
	font-size: 12px;
	border-radius: 0px 0px 0px 3px;
}
.ctag-count-zero {
	background-color: #ddd !important;
}
.ctag-active {
	background-color: #ff5050 !important;
}
.cerr {
	background-color: #fdd;
}
.caction {
	display:inline-block;
	float:right;
	padding:2px;
}
.caction img {
	width: 20px;
	height: 20px;
}
.inlibsof {
  background-color: #ffc;
  padding: 2px;
  font-size: 14px;
}

.ts {
	font-weight:  bold;
	margin-bottom: 0;
	line-height: 1.25;
	color: #313131;
	font-size: 1.1rem;
	margin-top: 1.5rem;
}

.ts > a {
	border-bottom: none!important;
}

.ds {
	font-family: 'Menlo';
	padding: 0;
	margin-bottom: -20px;
	color: #666;
	line-height: 1.25
}

#filter-box {
	padding: 5px;
	background-color: rgb(240, 240, 240);
	margin: 10px auto 20px auto;
	border: solid 1px #D6D3C5;
}

#filter-box > a {
	margin: 0;
	color: gray;
	cursor: pointer;
}

#filter-box > a:hover {
	text-decoration: underline;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
	height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid darkgray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: darkgray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#noresults > * {
	font-family: 'Menlo';
	color: #666;
}

.center .nav {
	margin-top: 25px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
	font-weight: bold;
}

.nav a {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12pt;
	text-decoration: none;
	border: 0;
	color: #999;
}

.nav a:hover {
	color: #000;
}