<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Feverbase</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>

    <header class="center">
        <h1 id="logo"><a href="/">feverbase</a></h1>
        <a id="goto-search" href="/">Go to Search</a>
    </header>
    <hr />
    <p>
    We're an international group of researchers tracking the progress of COVID-19 clinical trials. Groups around the world are beginning trials for vaccines, novel therapeutics, and repurposed drugs, but it's hard to see the forest from the trees. We collect data from global registries and provide simple analysis to give researchers and the public an idea of how development is going on multiple fronts.
    </p>

    <p>This project is a collaboration between researchers at Stanford, MIT, and around the world. Join us by clicking
        <a href="mailto:team@feverbase.org">here</a>. All feedback welcome!</p><br />

    <table>
        <tr>
            <td>
                <img src="assets/liphardt.jpg" alt="Jan Liphardt"/>
            </td>
            <td>
                <img src="assets/deming.jpg" alt="Laura Deming"/>
            </td>
            <td>
                <img src="assets/wall.png" alt="Dennis Wall"/>
            </td>
            <td>
                <img src="assets/zilis.jpg" alt="Shivon Zilis"/>
            </td>
        </tr>
        <tr>
            <td><a target="_blank" rel="noopener noreferrer" href="https://profiles.stanford.edu/jan-liphardt">Jan Liphardt</a></td>
            <td><a target="_blank" rel="noopener noreferrer" href="https://www.ldeming.com/">Laura Deming</a></td>
            <td><a target="_blank" rel="noopener noreferrer" href="https://profiles.stanford.edu/dennis-wall">Dennis Wall</a></td>
            <td><a target="_blank" rel="noopener noreferrer" href="http://www.shivonzilis.com/about">Shivon A. Zilis</a></td>
        </tr>
        <tr class="spacer">
            <td>Stanford University</td>
            <td>The Longevity Fund</td>
            <td>Stanford University</td>
            <td>Neuralink</td>
        </tr>
        <tr>
            <td>
                <img src="assets/ranjan.jpg" alt="Ankit Ranjan"/>
            </td>
            <td>
                <img src="assets/mittal.jpg" alt="Gautam Mittal"/>
            </td>
            <td>
                <img src="assets/saso.jpg" alt="Noah Saso"/>
            </td>
            <td>
                <img src="assets/houston.jpg" alt="Ethan Houston"/>
            </td>
        </tr>
        <tr>
            <td><a target="_blank" rel="noopener noreferrer" href="https://www.ankit.io">Ankit Ranjan</a></td>
            <td><a target="_blank" rel="noopener noreferrer" href="https://www.gautam.cc/">Gautam Mittal</a></td>
            <td><a target="_blank" rel="noopener noreferrer" href="https://www.noahsaso.com">Noah Saso</a></td>
            <td><a target="_blank" rel="noopener noreferrer" href="https://www.ethanhouston.com">Ethan Houston</a></td>
        </tr>
        <tr>
            <td>University of Oxford</td>
            <td>UC Berkeley</td>
            <td>UC Berkeley</td>
            <td>UT Austin</td>
        </tr>
    </table>

    <hr />

    <p><strong>How can I help?</strong></p>
    <p>We collect COVID-19 clinical trial records from multiple global registries and are now building visualization tools to synthesize this work. Contact us with feedback and suggestions. Feverbase is <a target="_blank" rel="noopener noreferrer" href="https://github.com/feverbase/feverbase">entirely open source</a>, and we always appreciate engineering support!</p>

    <p><strong>What will we do with the data?</strong></p>
    <p>We want to answer two questions:</p>
    <ol>
        <li>
            What treatments should clinicians use to prevent or treat COVID-19?
        </li>
        <li>
            What drug manufacturing does society need to invest in to best beat COVID-19?
        </li>
    </ol>
    <p>
        All parts of our analysis are going to be public, so everyone can benefit. If you would like to help analyze the
        data, please reach out. We will be releasing results periodically after analysis and a quality review of the
        data.
    </p>
    <hr />

    {% include "partials/end_body.html" %}
</body>

</html>
