<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Feverbase</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr.min.css') }}">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" /> -->

  <!-- JS -->
  <script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='toastr.min.js') }}"></script>
  <script src="{{ url_for('static', filename='as-common.js') }}"></script>

  <script src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
    integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB" crossorigin="anonymous">
    </script>
  <script>
    Sentry.init({ dsn: 'https://0d610ab75a934c93922251b180896c2c@o376768.ingest.sentry.io/5197934' });
  </script>

  <style type="text/css">
    .load-img-early {
      display: none;
    }
  </style>
  <img src="/static/search.png" class="load-img-early">

  <script>

    // passed in from flask as json
    var render_format = "{{ render_format }}";

    $.ajaxSetup({
      beforeSend: function () {
        $("#loader").show();
      },
      complete: function () {
        $("#loader").hide();
      }
    });

    // toastr.options.positionClass = 'toast-bottom-right';

    // when page loads...
    $(document).ready(function () {

      // display message, if any
      // if(msg !== '') { d3.select("#rtable").append('div').classed('msg', true).html(msg); }

      // add papers to #rtable
      addPapers();
      // if (done) { $("#loadmorebtn").hide(); }

      // set up infinite scrolling for adding more papers
      $(window).on('scroll', function () {
        var scrollTop = $(document).scrollTop();
        var windowHeight = $(window).height();
        var bodyHeight = $(document).height() - windowHeight;
        var scrollPercentage = (scrollTop / bodyHeight);
        if (scrollPercentage > 0.9) {
          addPapers();
          // if (done) { $("#loadmorebtn").hide(); }
        }
      });

      // just in case scrolling is broken somehow, provide a button handler explicit
      // $("#loadmorebtn").on('click', function () {
      //   var done = addPapers(5, true);
      //   if (done) { $("#loadmorebtn").hide(); }
      // });

      // if (papers.length === 0) { $("#loadmorebtn").hide(); }

      var vf = QueryString.vfilter; if (typeof vf === 'undefined') { vf = 'all'; }
      var tf = QueryString.timefilter; if (typeof tf === 'undefined') { tf = 'week'; }
      var link_endpoint = '/';
      if (render_format === 'recent') { link_endpoint = ''; }
      if (render_format === 'top') { link_endpoint = 'top'; }
      if (render_format === 'recommend') { link_endpoint = 'recommend'; }
      if (render_format === 'friends') { link_endpoint = 'friends'; }
      if (render_format === 'toptwtr') { link_endpoint = 'toptwtr'; }
      if (render_format === 'discussions') { link_endpoint = 'discussions'; }

      var time_ranges = ['day', '3days', 'week', 'month', 'year', 'alltime'];
      var time_txt = { 'day': 'Last day', '3days': 'Last 3 days', 'week': 'Last week', 'month': 'Last month', 'year': 'Last year', 'alltime': 'All time' }
      var time_range = tf;

      // set up time filtering options
      // if (render_format === 'recommend' || render_format === 'top' || render_format === 'recent' || render_format === 'friends') {
      //   // insert version filtering options for these views
      //   var elt = d3.select('#recommend-time-choice');
      //   var vflink = vf === 'all' ? '1' : 'all'; // toggle only showing v1 or not
      //   if (render_format === 'recent') {
      //     var aelt = elt.append('a').attr('href', '/' + link_endpoint + '?' + '&vfilter=' + vflink); // leave out timefilter from this page
      //   } else {
      //     var aelt = elt.append('a').attr('href', '/' + link_endpoint + '?' + 'timefilter=' + time_range + '&vfilter=' + vflink);
      //   }
      //   // var delt = aelt.append('div').classed('vchoice', true).html('Only show v1');
      //   if (vf === '1') { delt.classed('vchoice-selected', true); }
      // }

      // // time choices for recommend/top
      // if (render_format === 'recommend' || render_format === 'top' || render_format === 'friends') {
      //   // insert time filtering options for these two views
      //   var elt = d3.select('#recommend-time-choice');
      //   elt.append('div').classed('fdivider', true).html('|');
      //   for (var i = 0; i < time_ranges.length; i++) {
      //     var time_range = time_ranges[i];
      //     var aelt = elt.append('a').attr('href', '/' + link_endpoint + '?' + 'timefilter=' + time_range + '&vfilter=' + vf);
      //     var delt = aelt.append('div').classed('timechoice', true).html(time_txt[time_range]);
      //     if (tf == time_range) { delt.classed('timechoice-selected', true); } // also render as chosen
      //   }
      // }

      // time choices for top tweets
      // if(render_format === 'toptwtr') {
      //   var tf = QueryString.timefilter; if(typeof tf === 'undefined') { tf = 'day'; } // default here is day
      //   var time_ranges = ['day', 'week', 'month'];
      //   var elt = d3.select('#recommend-time-choice');
      //   for(var i=0;i<time_ranges.length;i++) {
      //     var time_range = time_ranges[i];
      //     var aelt = elt.append('a').attr('href', '/'+link_endpoint+'?'+'timefilter='+time_range);
      //     var delt = aelt.append('div').classed('timechoice', true).html(time_txt[time_range]);
      //     if(tf == time_range) { delt.classed('timechoice-selected', true); } // also render as chosen
      //   }
      // }

      var xb = $("#xbanner");
      if (xb.length !== 0) {
        xb.click(function () { $("#banner").slideUp('fast'); })
      }

      // in top tab: color current choice
      if (render_format === 'recent') { d3.select('#tabrecent').classed('tab-selected', true); }
      if (render_format === 'top') { d3.select('#tabtop').classed('tab-selected', true); }
      if (render_format === 'toptwtr') { d3.select('#tabtwtr').classed('tab-selected', true); }
      if (render_format === 'friends') { d3.select('#tabfriends').classed('tab-selected', true); }
      if (render_format === 'discussions') { d3.select('#tabdiscussions').classed('tab-selected', true); }
      if (render_format === 'recommend') { d3.select('#tabrec').classed('tab-selected', true); }
      if (render_format === 'library') { d3.select('#tablib').classed('tab-selected', true); }

      $("#goaway").on('click', function () {
        $("#prompt").slideUp('fast');
        $.post("/goaway", {}).done(function (data) { });
      });
    });

  </script>
  <script>
    function toggleAdvancedFilters() {
      var status = document.getElementById('filters-status');
      var container = document.getElementById('filters-container');

      if (container.style.display === 'none') {
        container.style.display = 'grid';
        status.innerHTML = 'Hide';
      } else {
        container.style.display = 'none';
        status.innerHTML = '';
      }
    }
  </script>
</head>

<body>

  <div class="center">
    <h1>Feverbase</h1>
    <span>Finding the best, and fastest, way to beat COVID-19.</span>
    <div class="nav">
      <a href="https://feverbase.org">About</a>
      <a href="/">Trial Search</a>
    </div>
  </div>
  <hr />

  <form action="/filter" method="get">
    <div id="sbox">
      <input type="submit" alt="Search" id="search-icon" value="">
      <input name="q" type="text" id="qfield" value="{{ filters.q if filters and 'q' in filters else '' }}"
        autocomplete="off" autocapitalize="off" spellcheck="false">
    </div>

    <div id="filters-box">
      <a onclick="toggleAdvancedFilters()"><span id="filters-status">{{ 'Hide' if adv_filters_in_use else '' }}</span>
        Advanced Filters</a>
      <br>
      <div id="filters-container" style="display: {{ 'grid' if adv_filters_in_use else 'none' }};">
        {% if false %}
        <!-- if false ensures this doesn't get send to device, don't show for now -->
        <label for="country">Country:</label>
        <select name="country" type="text" id="filter-country">
          {% if filters and not 'country' in filters %}
          <option value="" selected></option>
          {% else %}
          <option value=""></option>
          {% endif %}

          {% if filter_options and 'countries' in filter_options %}
          {% for country in filter_options.countries %}
          {% if filters and 'country' in filters and filters.country == country %}
          <option value="{{ country }}" selected>{{ country }}</option>
          {% else %}
          <option value="{{ country }}">{{ country }}</option>
          {% endif %}
          {% endfor %}
          {% endif %}
        </select>
        {% endif %}

        <label for="intervention">Intervention:</label>
        <input name="intervention" type="text" id="filter-intervention"
          value="{{ filters.intervention if filters and 'intervention' in filters else '' }}">

        <!--
          <div class="filter">
            <label for="type">Trial Type:</label>
            <select name="type" type="text" id="filter-type">
              {% if filters and not 'type' in filters %}
              <option value="" selected></option>
              {% else %}
              <option value=""></option>
              {% endif %}

              {% if filter_options and 'types' in filter_options %}
              {% for type in filter_options.types %}
              {% if filters and 'type' in filters and filters.type == type %}
              <option value="{{ type }}" selected>{{ type }}</option>
              {% else %}
              <option value="{{ type }}">{{ type }}</option>
              {% endif %}
              {% endfor %}
              {% endif %}
            </select>
          </div>
          -->

        <label for="subjects">Sample Size:</label>
        <div class="inputs">
          <input name="min-subjects" type="text" id="filter-min-subjects" value="{{ filters.get("min-subjects", "") }}"
            placeholder="min">
          <input name="max-subjects" type="text" id="filter-max-subjects" value="{{ filters.get("max-subjects", "") }}"
            placeholder="max">
        </div>

        <input type="submit" value="Update">
      </div>
    </div>
  </form>

  <div id="maindiv">

    <div id="rtable"></div>

    <!-- <div id="loadmore">
      <button id="loadmorebtn">Load more</button>
    </div> -->

    <div class="center">
      <div class="lds-ring" id="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="noresults" style="display: none">
      <h4>End of results.</h4>
    </div>

  </div>

  <br><br><br><br><br><br>

  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41516705-6']);
    _gaq.push(['_trackPageview']);
    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>

</html>