<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Feverbase</title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr.min.css') }}">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" /> -->

  <!-- JS -->
  <script src="{{ url_for('static', filename='jquery-3.5.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='toastr.min.js') }}"></script>

  <!-- Load image before running scripts -->
  <style type="text/css">
    .load-img-early {
      display: none;
    }
  </style>
  <img src="{{ url_for('static', filename='search.png') }}" class="load-img-early">

  <script src="{{ url_for('static', filename='search.js') }}"></script>

  <script src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
    integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB" crossorigin="anonymous">
    </script>
  <script>
    Sentry.init({ dsn: 'https://0d610ab75a934c93922251b180896c2c@o376768.ingest.sentry.io/5197934' });
  </script>
</head>

<body>
  <nav>
    <a href="/about">About</a>
    <button class="textbn" onclick="toggleFeedback()">Give Feedback</button>
  </nav>

  <form action="/search" method="get" {{ 'class=horizontal' if url_for(request.endpoint) != '/' else '' }}>
    <header class="center">
      <h1 id="logo"><a href="/">feverbase</a></h1>
      <span id="blurb" {{ 'style=display:none' if url_for(request.endpoint) != '/' else '' }}>Search {{ total_count }} clinical trials from around the world.</span>

      <div id="sbox">
        <input type="submit" alt="Search" id="search-icon" value="">
        <input name="q" type="text" id="qfield" value="{{ filters.q if filters and 'q' in filters else '' }}"
          autocomplete="off" autocapitalize="off" spellcheck="false">
      </div>
    </header>

    <div id="filters-box" {{ 'style=display:none' if url_for(request.endpoint) == '/' else '' }}>
      <a onclick="toggleAdvancedFilters()">
        <span id="filters-status">{{ 'Hide' if adv_filters_in_use else '' }}</span>
        Advanced Filters
      </a>
      <br>
      <div id="filters-container" style="display: {{ 'grid' if adv_filters_in_use else 'none' }};">
        {% if false %}
        <!-- if false ensures this doesn't get send to device, don't show for now -->
        <label for="country">Country:</label>
        <select name="country" type="text" id="filter-country">
          {% if filters and not 'country' in filters %}
          <option value="" selected></option>
          {% else %}
          <option value=""></option>
          {% endif %}

          {% if filter_options and 'countries' in filter_options %}
          {% for country in filter_options.countries %}
          {% if filters and 'country' in filters and filters.country == country %}
          <option value="{{ country }}" selected>{{ country }}</option>
          {% else %}
          <option value="{{ country }}">{{ country }}</option>
          {% endif %}
          {% endfor %}
          {% endif %}
        </select>
        {% endif %}

        <label for="sponsor">Sponsor:</label>
        <input name="sponsor" type="text" id="filter-sponsor"
          value="{{ filters.sponsor if filters and 'sponsor' in filters else '' }}" autocomplete="off" autocapitalize="off" spellcheck="false">

        <label for="target_disease">Condition:</label>
        <input name="target_disease" type="text" id="filter-target_disease"
          value="{{ filters.target_disease if filters and 'target_disease' in filters else '' }}" autocomplete="off" autocapitalize="off" spellcheck="false">

        <label for="intervention">Intervention:</label>
        <input name="intervention" type="text" id="filter-intervention"
          value="{{ filters.intervention if filters and 'intervention' in filters else '' }}" autocomplete="off" autocapitalize="off" spellcheck="false">

        <!--
          <div class="filter">
            <label for="type">Trial Type:</label>
            <select name="type" type="text" id="filter-type">
              {% if filters and not 'type' in filters %}
              <option value="" selected></option>
              {% else %}
              <option value=""></option>
              {% endif %}

              {% if filter_options and 'types' in filter_options %}
              {% for type in filter_options.types %}
              {% if filters and 'type' in filters and filters.type == type %}
              <option value="{{ type }}" selected>{{ type }}</option>
              {% else %}
              <option value="{{ type }}">{{ type }}</option>
              {% endif %}
              {% endfor %}
              {% endif %}
            </select>
          </div>
          -->

        <label for="subjects">Sample Size:</label>
        <div class="inputs">
          <input name="min-subjects" type="text" id="filter-min-subjects" value="{{ filters.get("min-subjects", "") }}"
            placeholder="min" autocomplete="off" autocapitalize="off" spellcheck="false">
          <input name="max-subjects" type="text" id="filter-max-subjects" value="{{ filters.get("max-subjects", "") }}"
            placeholder="max" autocomplete="off" autocapitalize="off" spellcheck="false">
        </div>

        <label for="location">Location:</label>
        <input name="location" type="text" id="filter-location"
          value="{{ filters.location if filters and 'location' in filters else '' }}" autocomplete="off" autocapitalize="off" spellcheck="false">

        <label for="recruiting_status">Status:</label>
        <input name="recruiting_status" type="text" id="filter-recruiting_status"
          value="{{ filters.recruiting_status if filters and 'recruiting_status' in filters else '' }}" autocomplete="off" autocapitalize="off" spellcheck="false">

        <input type="submit" value="Update">
      </div>
    </div>
  </form>

  <p style="display:none" id="stats"></p>

  <div id="maindiv">

    <div id="rtable"></div>

    <div class="center">
      <div class="lds-ring" id="loader" style="display:none">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="noresults" style="display: none">
      <h4>No more results.</h4>
    </div>

  </div>

  <br><br><br><br><br><br>

  <div id="feedback" style="display:none" onclick="toggleFeedback()">
    <div id="feedback-box">
      <div id="feedback-title">
        <button class="textbn" onclick="toggleFeedback()">Close</button>
      </div>
      <div id="feedback-container">
        <input name="subject" type="text" id="feedback-subject" placeholder="Subject">

        <textarea name="body" id="feedback-body" rows="7" placeholder="Body"></textarea>

        <input type="submit" value="Submit Feedback" onclick="submitFeedback()">
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-41516705-6']);
    _gaq.push(['_trackPageview']);
    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>

</html>